table, th, td {
    border:1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 85vw;
    margin: auto;
    margin-top: 50px;
}

th, td {
    text-align:left;
    padding:10px;
}

tr:hover {
    background-color:#ddd;
    cursor:pointer;
}